<%= form_for(garage) do |f| %>
  <% if garage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garage.errors.count, "error") %> prohibited this garage from being saved:</h2>

      <ul>
      <% garage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
