<div class="row">
  <div class="col-md-4">
    <%= image_tag @garage.image_url %>
    <h2>
      <%= @garage.name %>
    </h2>
    <div class="star-rating" data-score= <%= @avg_rating %>></div>
    <p><%= "#{@reviews.count} ratings" %></p>
    <p>
      <strong>Address:</strong>
      <%= @garage.address %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= @garage.phone %>
    </p>
    <p>
      <strong>Website:</strong>
      <%= link_to @garage.website, @garage.website %>
    </p>

    <%= link_to "Write a Review", new_garage_review_path(@garage), class: "btn btn-primary" %>

    <br>
    <br>
    <iframe
      width="300"
      height="200"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['google_maps_api'] %>
        &q=<%= @garage.address.parameterize %>&zoom=14" allowfullscreen>
    </iframe>




  </div>
  <div class="col-md-8">
    <% if @reviews.any? %>
        <table class="table">
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td class="col-md-3">
                  <h4>
                    <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}" %>
                  </h4>
                  <p>
                    <%= review.created_at.strftime("%d %b %Y") %>
                  </p>
                </td>
                <td class="col-md-9">
                  <div class="star-rating" data-score= <%= review.rating %>></div>
                  <p><%= h(review.comment).gsub(/\n/, '<br>').html_safe %></p>
                  <p>
                    <% if user_signed_in? %>
                      <% if (current_user == review.user) or (current_user.admin?) %>
                        <%= link_to "Edit", edit_garage_review_path(@garage, review), class: "btn btn-link" %>
                        <%= link_to "Delete", garage_review_path(@garage, review), method: :delete,
                                              data: { confirm: "Are you sure?" },
                                              class: "btn btn-link" %>
                      <% end %>
                    <% end %>
                  </p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
      <h3>There are no reviews yet. Be the first to leave one!</h3>
    <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/garage-review-images/raty-images',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
