<%= image_tag @garage.image_url %>

<p>
  <strong>Name:</strong>
  <%= @garage.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @garage.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @garage.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @garage.website, @garage.website %>
</p>

<%= link_to 'Edit', edit_garage_path(@garage) %> |
<%= link_to 'Back', garages_path %>
