<!DOCTYPE html>
<html>
	<head>
		<title>GarageReview</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= render 'layouts/bootstrap' %>
	</head>

	<body>

		<%= render 'layouts/navbar' %>

		<div class="container-fluid">

			<%= yield %>

		</div>

		<%= render 'layouts/footer' %>

	</body>
</html>
